.cont {
    width: 100%;
    border-top: 0.5px solid #969696;
    padding-block: 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 
  
  .punto a {
    text-decoration: none; 
    color: #000; 
  }
  
  .iff:hover{
    color:#969696;
    text-decoration: underline;
    cursor: pointer;
  }